<div class="main-container">

  <h1>Listado de Héroes</h1>
  <hr>



  <div class="example-button-row">
    <button routerLink="/heroes/new" mat-raised-button color="primary">Añadir Héroe</button>  
  </div>


  <mat-list role="list" *ngFor="let heroe of heroes; ; let i = index">
    <mat-list-item role="listitem" aria-labelledby> {{ i + 1}}. {{ heroe.superhero }} 
      <button class="icons" mat-icon-button color="primary" [routerLink]="['/heroes', heroe.id]">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="deleteHeroe(heroe, i)" >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>

  <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10]"
              aria-label = "Seleccionar página">
</mat-paginator>

<!--   
  
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Héroe</th>
            <th>Modificar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let heroe of heroes; let i = index">
            <th>{{ i + 1 }}</th>
            <td>{{ heroe.superhero }}</td>
            <td>
              <i class="fa fa-pen mx-3" [routerLink]="['/heroes/heroe', heroe.id]"></i>
            </td>
            <td>
              <i class="fa fa-trash" ></i>
               <i class="fa fa-trash" (click)="deleteUse(user, i)"></i> -->

            <!--</td>
          </tr>
        </tbody>
      </table> -->
    </div>