.text{
    margin: 10px;
}
.example-card {
    max-width : 400px ;
    margin: 30px;
 }
 
 .example-button-row button,
.example-button-row a {
  margin-right: 30px;
  margin-left: 30px;
}

.example-disabled {
  display: inline-block;
}

