.text {
  margin: 10px;
}

.example-button-row {
  display: flex !important;
  align-items: center;
}

.example-disabled {
  display: inline-block;
}

.search {
  width: 60%;
  margin-left: 1em;
  margin-top: 1rem;
}