.text{
    margin: 10px;
}
.example-card {
    max-width : 400px ;
    margin: 30px;
 }
 
 .example-button-row button,
.example-button-row a {
  
  justify-content: flex-end !important;

  .list{
    margin-left: 50px;
    width: 60%;
  }
  
}

.example-disabled {
  display: inline-block;
}


