<div class="main-container">

  <h1>Información de tu Heroe</h1>
  <hr>
  <div class="example-button-row">
    <button routerLink="/heroes" mat-raised-button color="primary">Volver al listado</button>  
  </div>


<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Nombre héroe</mat-label>
      <input matInput placeholder="Ex. Pizza" value=" ">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Publicación</mat-label>
      <input matInput placeholder="Ex. Pizza" value=" ">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Alter ego</mat-label>
      <input matInput placeholder="Ex. Pizza" value=" ">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Primera aparición</mat-label>
      <input matInput placeholder="Ex. Pizza" value=" ">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Características</mat-label>
      <input matInput placeholder="Ex. Pizza" value=" ">
    </mat-form-field>
  
   
  </form>
</div>
